p {
  color: green;
  border: medium solid;
}

em {
  /* change the border property value to 'unset', 'inherit', 'revert' etc to test how to control the inheritance of a property value explicitly */
  /*border: unset; */
  border-color: blue;
}
