.main {
  width: 500px;
  height: 500px;
  background: tomato;
  box-sizing: border-box;
  /* uncomment the next line and see that the height stays as 500px */
  /* padding: 100px */
  /* uncomment the next line and see that the height stays as 500px */
  /* border: 100px solid black */
  /* repeat these 2 steps with box-sizing: border-box turned off */
}

/* some styling for visibility */
.hello {
  background: orange;
  width: 100%;
  height: 100%;
}